@font-face {
  font-family: 'asapregular';
  src: url('./Assets/Fonts/asap-variablefont_wdthwght-webfont.woff2') format('woff2'),
       url('./Assets/Fonts/asap-variablefont_wdthwght-webfont.woff') format('woff');

}
@font-face {
  font-family: 'asapitalic';
  src: url('./Assets/Fonts/asap-italic-variablefont_wdthwght-webfont.woff2') format('woff2'),
       url('./Assets/Fonts/asap-italic-variablefont_wdthwght-webfont.woff') format('woff');


}


/* Estilização global */
body {
  font-family: 'asapregular';
  font-size: 24px;
  font-weight: bold;
  margin: 0px;
  
  a {
      text-decoration: none;
  }
  @media screen and (max-width: 720px) {
    font-size: 16px;
  }
}

.title {
  margin-bottom: 12px; 
  text-decoration: underline;
}

.displayNumber {
  margin: 0; 
  font-size: 32px; 
  color: black; 
  font-weight: bold;
}
.inputBoxes {
  display: flex;
  justify-content: center;
  flex-direction: row;

  div {
    margin: 5px;
    p {
      margin: 5px;
      font-size: 20px;
      font-weight: bold;
    }
    input {
      width: 64px;
      border-width: 4px;
      font-size: 24px;
      font-weight: bold;
      text-align: center;
    }
  }
}

#roll {
  width: 96px;
  font-size: 20px;
  height: 32px;
  border-width: 4px
}
.checkboxes {
  font-size: 24px; 
  font-weight: bold;
}
.result {
  width: 320px; 
  font-size: 20px; 
  height: auto; 
  min-height: 63.5px; 
  border: 4px inset black; 
  padding: 10px;
}
.botaoFlutuante{
  background: linear-gradient(90deg, var(--verde), var(--ciano));
  position:fixed;
  width:64px;
  height:64px;
  bottom:40px;
  right:40px;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  box-shadow: 2px 2px 3px #999;

  &:hover {
      --verde: #11d000;
      --ciano: #00ffee;
      transition: --verde 0.5s, --ciano 0.5s;
  } 
  &:active {
      --verde: #61D057;
      --ciano: #62db78;
      transition: --verde 0.1s, --ciano 0.1s;
  }    
  img{
      height: 44px;
      margin-top: 10px;
  }
}
@media screen and (max-width: 720px) { 
  .botaoFlutuante{
      width:54px;
      height:54px;
      bottom:4%;
      right:8%;   
      img{
          height: 36px;
          margin-top: 9px;
      }
  }
}
@media screen and (max-width: 380px) { 
  .botaoFlutuante{
      width:48px;
      height:48px;
      bottom:4%;
      right:8%;   
      img{
          height: 32px;
          margin-top: 8px;
      }
  }
}